@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'indie flower';
}

body {

    background-color: rgb(229, 212, 22);
}

h1 {
    text-align: center;
    font-size: 48px;
    background-color: #0000ff;
}

span {
    font-weight: bold;
}


.container {
    padding: 20px;

    box-sizing: border-box;
    width: max-content;
    background: linear-gradient(to left, rgb(81, 89, 89), aquamarine);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* center the element  */
    cursor: pointer;

}

.cards {
    margin: 48px, auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 16px;

}

.card {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(78, 39, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.card:hover {
    border: 3px solid black;
}

.red {
    background-color: red;
    /* background-image: url("../images/blue bee.jpg");
    background-size: cover;
    background-position: center; */
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.cyan {
    background-color: cyan;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.grey {
    background-color: grey;
}

.teal {
    background-color: rgb(128, 96, 0);
}

.reset {
    /* padding: 10px 20px; */

    text-align: center;
    width: 200px;
    height: 30px;
    background-color: black;
    float: right;
    font-size: 24px;
    color: yellow;
    cursor: pointer;
}