@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'indie flower';
}

body {
    background: url('../images/memorygame.jpg') center 100% / cover;

    /* background: linear-gradient(to top, rgb(31, 223, 31), aquamarine); */
}

h1 {
    text-transform: capitalize;
    text-align: center;
    font-size: 48px;
    background: linear-gradient(to top, rgb(31, 223, 31), aquamarine);
}

span {
    font-weight: bold;
}

.container {
    padding: 20px;
    box-sizing: content-box;
    width: max-content;
    background: linear-gradient(to left, rgb(242, 243, 243), rgb(38, 36, 36));

    border-radius: 55px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* center the element  */
    cursor: pointer;
}

.stats-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.cards {
    margin: 48px, auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(45deg, rgb(226, 63, 63) 25%, transparent 25%, transparent 50%, rgb(39, 220, 114) 50%, rgb(237, 235, 244) 75%, transparent 75%, transparent);
    background-size: 5px 5px;
    border: 2px solid rgb(78, 39, 82);
    border-radius: 25px 5px;
    cursor: pointer;
    transform-style: preserve-3d;
    /* transform: rotateY(180deg); */
    /* backface-visibility: hidden; */
}

.card:hover {
    border: 3px solid black;
}

/* .card .cardOpen {
    transform: rotateY(0deg);
} */

.card::after {
    position: absolute;
    content: '';
    inset: 0;
    background: linear-gradient(to left, rgb(63, 240, 18), rgb(13, 111, 232));
    border: 2px solid rgb(78, 39, 82);
    border-radius: 23px 3px;
    backface-visibility: hidden;
}

.card.flip {
    transform: rotateY(180deg);
}

/* .flip::after,
.matchflip ::after {
    transform: rotateY(180deg);
} */

/* .red {
    background-color: red;
    /* background-image: url("../images/blue bee.jpg");
    background-size: cover;
    background-position: center; 
} */

/* .blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.cyan {
    background-color: cyan;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.grey {
    background-color: grey;
}

.teal {
    background-color: rgb(128, 96, 0);
} */

button {
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    width: 130px;
    height: 40px;
    float: right;
    border-radius: 10px;
    font-size: 24px;
    background-color: blue;
    color: white;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: orange;
    color: black;
}